body {background-color: rgba(0, 0, 0, 0.896);
  margin: 0;
      overflow-x: hidden;
      display: flex;
  
   
  }
  
  li {
    max-width: 100%;
    min-width: 20%;
font-size: 2vw;

   text-align: left;
  text-justify: auto;
  font-family: monospace;
      list-style: none;
    padding: 0;
    z-index: 0;
 }


 
  
  ul {  
    overflow: hidden;
padding: 0;
margin: 2% 2% 2% 2%
  }

  
  
  header {font-size: 3vw;
  font-family: monospace;
  text-align: left;
  margin: 8% 0% 5% 2%;
  color: rgb(244, 238, 238);}
  
  p {font-size: 1.2vw;
  font-family: Andale Mono, arial;
  text-align: justify;
  text-justify: auto;
  color: rgba(244, 236, 236, 0.813);
  margin: 2% 0% 0% 5%;
  }
  
  h3 {color: white;
  font-size: 2.8vw;
  margin: 8% 0% 15% 5%;
 overflow: hidden;
  }
  
  
  
  
  a {color: rgb(244, 238, 238)}

li a {color: rgba244, 236, 236, 0.813);
text-decoration: none}


li a:hover {
opacity: 1.0;
transition-duration: 0.1s;
  background-color: #3A3A3A;
  box-shadow: 0 0 0 0 white;
 border-radius: 6vw;
color: rgb(170, 152, 152);
}

  
  .border {border: 1px solid grey;
  max-width: 100%;
  margin: 1% 5% 3% 3%;  
  color: rgb(244, 238, 238)
  }
  .border2 {
  
  position: fixed;
  margin: 0% 0% 0% 0%;
  height: 100%;
  width: 28%;
  border-right: 1px solid grey;
  
 }

 .border3 {border-bottom: 1px solid grey;
  margin: 0% 0% 5% 0%}
  
  
  
  h4 {margin: 0% 1% 0% 1%;
  text-align: center;
  font-size: 1.2vw}
  
  /*grid1*/
  .grid1 {
    display: grid;
  text-align: center;
  grid-template-columns: 29% 70% 1%;
  grid-template-rows: 100%;
  }
  .grid1content {grid-row: 1 / 1;
  grid-column: 2 / 3;
  }
  .grid1contentlink {grid-row: 1 / 1;
  grid-column: 1 / 2;
  }
  
  /*grid1*/
  
  
  
  
  
  
  
  
  /*grid2*/
  
  .grid2content {
    grid-row: 1 / 1;
  grid-column: 2 / 3;
  }
  /*grid2*/
  
  /*grid3*/
  
  .grid3content {
    grid-row: 1 / 1;
  grid-column: 2 / 3;
  }
  /*grid3*/
  
  /*grid4*/
  
  
  
  .grid4content {
    grid-row: 1 / 1;
  grid-column: 2 / 3;
  }
  /*grid4*/
  
  /*grid5*/
  
  
  .grid5content {
    grid-row: 1 / 1;
  grid-column: 2 / 3;
  }
  /*grid5*/
 
  #jpg1 {max-width: 2vw;
  max-height: 2vw ;}

  footer li {display: inline;
    text-align: center;

  margin: 0% 5% 0% 5%}

  footer p {text-align: center;}

  